*{
  background-size: cover;
  background-position: center;
}

.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 1.3rem 10%;
  background: red;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-web {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-web img {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */

}

.menu-contenedor a{
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: flex;
}
